<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>行影旅游网</title>
</head>
<body>

<footer th:fragment="copyfooter">

<div class="bot1_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo2_wrapper">
                    <a href="view" class="logo2">
                        <img th:src="@{/images/logo2.png}" alt="" class="img-responsive">
                    </a>
                </div>
                <p>
                    Nam liber tempor cum soluta nobis option congue nihil imperdiet doming id quod mazim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
                </p>
                <p>
                    <a href="#" class="btn-default btn2">Read More</a>
                </p>
            </div>
            <div class="col-sm-3">
                <div class="bot1_title">Travel Specialists</div>
                <ul class="ul1">
                    <li><a href="#">First Class Flights</a></li>
                    <li><a href="#">Accessible Travel</a></li>
                    <li><a href="#">Amazing Cruises</a></li>
                </ul>

                <div class="social2_wrapper">
                    <ul class="social2 clearfix">
                        <li class="nav1"><a href="#"></a></li>
                        <li class="nav2"><a href="#"></a></li>
                        <li class="nav3"><a href="#"></a></li>
                        <li class="nav4"><a href="#"></a></li>
                        <li class="nav5"><a href="#"></a></li>
                        <li class="nav6"><a href="#"></a></li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="bot1_title">Our Twitter</div>
                <div class="twits1">
                    <div class="twit1">
                        <a href="#"> @travel</a> Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        <div class="date">5 minutes ago</div>
                    </div>
                    <div class="twit1">
                        <a href="#">@leo</a> Nam liber tempor cum soluta nobis option congue nihil imperdiet doming id quod mazim.
                        <div class="date">2 days ago</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="bot1_title">Newsletter</div>
                <div class="newsletter_block">
                    <div class="txt1">Inspiration, ideas, news and your feedback.</div>
                    <div class="newsletter-wrapper clearfix">
                        <form class="newsletter" action="javascript:;">
                            <input type="text" name="s" value='Email Address' onBlur="if(this.value=='') this.value='Email Address'" onFocus="if(this.value =='Email Address' ) this.value=''">
                            <a href="#" class="btn-default btn3">SUBMIT</a>
                        </form>
                    </div>
                </div>
                <div class="phone2">1-917-338-6831</div>
                <div class="support1"><a href="#">support@templates-support.com</a></div>
            </div>
        </div>
    </div>
</div>

<div class="bot2_wrapper">
    <div class="container">
        <div class="left_side">
            Copyright &copy; 2019.Company name All rights reserved.</a>
        </div>
        <div class="right_side"></div>
    </div>
</div>

</footer>
</body>
</html>